.video-container
	=video_tag("love-coding.mp4",:width => "1280", :height => "720")
.row.full-height.middle-xs.center-xs.relative.up
	.col-xs-12
		.box.white-text
			=image_tag("logo.png", width:200)
			%h1.white-text.title.no-margin Loading Co.
	.absolute.black.large-padding.white-text.bottom.full-width#description
		.row.middle-xs.center-xs
			.col-xs-7.col-sm-6.white-text.medium
				Ideas creadas por artistas del codigo
			

